# Git files
.git
.gitignore

# Maven files
.mvn/
mvnw
mvnw.cmd
target/

# Source code not needed in final image
src/test/

# Documentation and K8s config
README.md
deployment.yaml
Dockerfile

# IDE specific
.vscode/
*.iml
.idea/

# Build files / logs
*.log
build/
dist/

# OS specific
.DS_Store
Thumbs.db